.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading_mask{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color: rgba(33,33,33,.8);
}
.loading_content{
  position:fixed;
  top: 20%;
  left: 50%;
  margin-left: -255px;
  width: 510px;
  height: 260px;
  border-radius: 8px;
  border: solid 1px aqua;
  z-index: 101;
  background-color: #fff;
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
}

.button button{
  display: inline-block; 
  height: 30px;
  width: 80px;
  margin-left: 20px;
  position: relative;
  bottom: -30px
}

